<form id="form_search" class="form" action="" method="get">
    <input id="searchs" required="required" type="text" name="q" placeholder="Введите текст для поиска">
    <select class="browser-default" name="searcher" required="required" onchange="document.querySelector('#form_search').action=this.value">
        <option value="" disabled selected>Укажите поисковую систему</option>
        <option value="//www.google.ru/search">Google.com</option>
        <option value="//www.bing.com/search">bing.com</option>
        <option value="//uk.ask.com/web">ask.com</option>
    </select>
    <button type="submit" >Искать</button>
</form>